footer {
  @extend .text-center;
  margin: 50px 0 100px;
}

.news-items {
  @extend .list-group;

  .news-item {
    @extend .list-group-item;

    .news-item-url {
      @extend .text-success;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .news-item-thumbnail {
      //width: 100px;
      //height: 100px;
      @extend .img-responsive;
    }

    .news-item-content {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .news-item-meta {
      font-size: 10px;
      margin-top: 4px;
    }
  }
}

.fail {
  margin: 50px 0;
  @extend .text-center;
  @extend .text-muted;
}